* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    
    font-size: 14px;
}

/* ============= Generic CSS ============== */

.section-title {
    padding-top: 90px;
    padding-bottom: 50px;
    text-align: center;
    
}
.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}

/* =========== Navigation ============ */

.navbar-default {
  
    background-color: transparent;
    border-color: #444;
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    height: 10%;
}
.navbar-default .navbar-nav > li > a {
    color: #B5B5B5;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.navbar-default .navbar-nav > li > a:hover {
    color: #129CF3;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #B5B5B5;
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-brand img  {
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > .active>a, 
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
    background-color: transparent;
    color: #129CF3;
} 



/* =========== Header ============ */
.header {
    animation:slide 30s infinite; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    
}
 @keyframes slide{
    100%,0%{
        background-image:url("../images/web.jpg");
    }
    17%{
        background-image:url("../images/2.jpg");
    }
    34%{
        background-image:url("../images/3.jpg");
    }
    51%{
        background-image:url("../images/4.jpg");
    }
    68%{
        background-image:url("../images/5.jpg");
    }
    85%{
        background-image:url("../images/6.jpg");
    }
      }
.header-overlay {
    background-color: rgba(31, 31, 31, 0.75);

}
.header-text h1 {
    margin-top: 30%;
    color: #fff;
    font-size: 10vw;
    font-weight: 3000;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
}
.header-text p {
    margin-top: 10%;
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
/* ========= About Us ============= */
#ABOUT{
    padding-top:60px;
    padding-bottom:60px;
}
.about{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight:500;
}
.text-muted{
    color: #6c757d!important;
    line-height:1.75;
    box-sizing:border-box;
    font-size:16px;
}
/* ========= Testimonials ============= */
.testimonial {
    background-image: url("../images/testimonial-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}
.testimonial-overlay {
    background-color: rgba(31, 31, 31, .75);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators {
    bottom: -10px;
}
.carousel-inner .item img {
    border: 2px solid #129CF3;
    border-radius: 50%;
    padding: 3px;
}
.testimonial-caption {
    padding-bottom: 70px;
}
.testimonial-caption h2 {
    color: #129CF3;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
    
}
.testimonial-caption h4 {
    color: #129CF3;
}

.testimonial-caption h4 span {
    
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
    
}

.testimonial-caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}
/* ========= Features ============= */
.features-inner-wrapper {
    
    padding-top: 30px;
    padding-bottom: 70px;
}
.left-feature-item {
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}
.left-feature-item-icon {
    position: absolute;
    right: 0;
    top: -8px;
    font-size: 40px;
    color: #129CF3;
    width: 90px;
    height: 90px;
    text-align: center;
    
}
.left-feature-item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
}
.left-feature-item p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.feature-iphone img {
    width: 100%;
}
.right-feature-item {
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    margin-top: 35px;
    text-align: left;
}
.right-feature-item-icon {
    position: absolute;
    left: 0;
    top: -8px;
    font-size: 40px;
    color: #129CF3;
    width: 90px;
    height: 90px;
    text-align: center;
    
}
.right-feature-item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
    
    
}
.right-feature-item p {
 
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

/* ========= Purchase Now ============= */
.purchase-now {
    background-color: #1a1a1a;
    padding-top: 100px;
    padding-bottom: 100px;
}
.purchase-now p {
    color: #dfdfdf;
    font-size: 18px;
    font-weight: 300;
}
.btn-pruchase-now,
.btn-pruchase-now:active,
.btn-pruchase-now:focus,
.btn-pruchase-now:visited 
{
    background-color: #129CF3;
    border: 1px solid #129CF3;
    color: #fff;
    border-radius: 3px;
    padding: 15px 35px;
    text-transform: uppercase;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
    
}

.btn-pruchase-now:hover {
    background-color: #1274B1;
    border-color: #316B90;
}

/* ========= Counter ============= */
.counter {
    background-image: url("../images/car-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}
.counter-overlay {
    padding-top: 80px;
    padding-bottom: 80px;
    background: rgba(0, 0, 0, .4);
}
.counter-item i {
    color: #129CF3;
    font-size: 60px;
}
.counter-item h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: #D7DADB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
}
.counter-item p {
    color: #D7DADB;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}

/*-----BAJA-----*/

@media(max-width:767px){
    #carbaja{
     height:150px;
     width:250px;
    }
}
@media(min-width:768px){
    #carbaja{
     height:200px;
     width:400px;
    }
}
/* ========= Download Now ============= */


.download-now img {
    width: 100%;
}
.available-on {
    
    background-color: #1a1a1a;
    margin-top: -8px;
    position: relative;
}
.available-title {
    padding-top: 75px;
}
.available-title h2 {
    
    color: #fff;
    font-size: 30px;
}
.available-title p {
    color: #B5B5B5;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.available-on-item {
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.available-on-item:hover {
    background-color: #121212;
}
.available-on-item i {
    color: #129CF3;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.available-on-item:hover i {
    opacity: 0;
}
.available-on-inner {
    position: absolute;
    bottom: 93px;
    width: 100%;
    opacity: 0;
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.available-on-inner h2 {
    text-align: center;
    font-weight:  300;
    color: #D7DADB;
    font-size: 16px;
}

.available-on-item:hover div.available-on-inner {
    opacity: 1;
}


/* ========= Footer ============= */
.footer {
    
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #129CF3;
}
#copyright {
    width: 50%;
}
#copyright h2 {
    color: rgb(253, 250, 246);
    font-weight: 600;
    text-transform: uppercase;
}

#copyright p {
    color: #8C8B8A;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#copyright p a {
    text-decoration: none;
    color: #129CF3;
}
.scroll-top {
    text-align: right;
}
.scroll-top a {
    background-color: #129CF3;
    padding: 25px;
}
.scroll-top a i {
    color: #fff;
    font-size: 25px;
}















































