{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
    .card {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
    text-align: center;
    font-family: arial;
    
  }
  @media(max-width:767px) {
    .card{
      margin: 34px!important;
    }
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  #imgframe{
    border-radius: 50%;
    height: 220px;
    width: 220px;
  }
  #faculty{
    margin-bottom: 30px;
    margin-top: -40px;
  }

  #fests{
    margin-bottom: 10px;
    margin-top: -40px;
  }
  #img1{
    width: 100%;
  }
  </style>
<header class="header">
      <div class="header-overlay">
    <div class="container header-container">
    <div class="row">
    <div class="col-md-8">
    <div class="header-text">
    <!-- Title & Description -->
    <h1> SAE</h1>
    <p> SAEINDIA is India's leading resource for mobility technology. It is a strategic alliance partner of SAE International registered in India as an Indian nonprofit engineering and scientific society dedicated to the advancement of mobility industry in India.</p>
    </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
    </div>
    </div>                
    </div>            
    </div>            
    </header>
<!-- About Us -->
<section id="ABOUT">
    <div class="choose-us-wraper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">                     

                <h1 class="about" style="text-align: center;">
                    ABOUT US
                </h1>
                </div>
                
            <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">   
                <p class="text-muted"><b>SAEINDIA</b> is India's leading resource for mobility technology. It is a strategic alliance partner of SAE International registered in India as an Indian nonprofit engineering and scientific society dedicated to the advancement of mobility
                    industry in India.
                    <br><b>SAE India collegiate chapter of NIT Durgapur</b> was conceived in 2007 with an idea to integrate the students of the college into international fabric of automobile engineering. Presently 200 students are enjoying the benefits of SAE
                    India membership. We organize a number of innovative events, workshops and lectures round the year and a competitive place where the sharpest minds battle in the quest to achieve disctinction. SAE along with MNTC and GLUG organises <b>Aavishkar - The TechFest</b>            which is the official technical fest of NIT Durgapur. SAE NIT Durgapur also publishes its annual magazine called <b>Autopia</b> for automobile enthusiasts to know about latest technologies at one place. <b>BAJA SAE</b> is a part of SAE NIT
                    Durgapur which takes part in BAJA competition organised by SAE India. They represent NIT Durgapur at this national level competition under the team name NDORS.</p>                              
                   
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 10px;">
            <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">                     

            <h1 class="about" style="text-align: center;">
                SAEINDIA Membership
            </h1>
            </div>
            
            <div class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">   
            <p class="text-muted"><b>SAEINDIA</b> is one of the few professional engineering societies whose membership represents practically every engineering and scientific discipline. Its members combine their specialized abilities to further advance the research, development, design, manufacture and utilization of vehicles which operate on land and water and in air and space. Be a part of the SAE family by becoming a member and enjoy the following benefits:
                    <ul>
                        <li>
                            <p class="text-muted">  Members receive free registration at SAEINDIA's lecture meetings and exhibits. This unique benefit puts the members in touch with other professional engineers and suppliers who determine the future of the expanding mobility industry worldwide.
                            </p></li>
                        <li><p class="text-muted">Members can purchase SAEINDIA and SAE International technical papers and publications at member discount prices.</li>
                        </p><li><p class="text-muted">Access vital high-tech mobility information through renewal registration fee for attending SAEINDIA National and International Congress.
                        </p>
                        </li>
                    </ul></p>   

                    
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 10px;">
            <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">                     

            <h1 class="about" style="text-align: center;">
                <!--Add anything later-->
            </h1>
            </div>
            
            <div class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">   
                        
            </div>
        </div>

    </div>
</div>
<!----Faculty-->
</section>
<section id="faculty">
  <h1 class="about" style="text-align: center;margin-bottom:30px;">
   <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">OUR FACULTY</span><span class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s" style="color: #129CF3;"> ADVISOR<span>
</h1>
  <div class="container">
   
    <div class="row">
        <div class="col-md-4 profile-pic text-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
          

                <img src="/static/images/niloptal.jpeg" id="imgframe">
                <h4 style="font-weight: 800;">PROF(DR.) APURBA LAYEK</h4><h7><i>Department of Mechanical Engineering</i></h7>
            </div>
        
        <div class="col-md-4 profile-pic text-center wow bounceInUp">
            

                <img src="/static/images/apurva.jpeg" id="imgframe">
                <h4 style="font-weight: 800;">PROF(DR.) NILOPTAL BANERJEE</h4><h7><i>Department of Mechanical Engineering</i></h7>
            
        </div>
        <div class="col-md-4 profile-pic text-center wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
           

                <img src="/static/images/tapas.jpeg" id="imgframe">
                <h4 style="font-weight: 800;">PROF(DR.) TAPAS KUMAR SAHA</h4><h7><i>Department of Electrical Engineering</i></h7>
            
        </div>


</div></div>
</section>
<!-- Testimonials -->
<section class="testimonial" id="CONTACT">
<div class="testimonial-overlay">
<div class="container">
<div class="row">
<div class="col-md-12 wow bounceInDown">
<div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
<!-- indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
<li data-target="#carousel-testimonial" data-slide-to="1"></li>
<li data-target="#carousel-testimonial" data-slide-to="2"></li>
<li data-target="#carousel-testimonial" data-slide-to="3"></li>
<li data-target="#carousel-testimonial" data-slide-to="4"></li>

</ol>
<!-- wrapper for slides -->
<div class="carousel-inner">
  <h1 class="about" style="text-align: center;margin-bottom:30px;">
    <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s" style="color: rgba(255, 255, 255, 0.815);">OUR </span><span class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s" style="color: #129CF3;">MEMBERS<span>
 </h1>
<!-- item 01 -->
<div class="item active text-center">
<img src="{% static 'images/dibyadipta.jpg' %}" alt="testimonial" class="center-block">
<div class="testimonial-caption">
<h2>Dibyadipta Roy</h2>
<h4><span> Presi</span>dent</h4>
</div>
</div>
<div class="item text-center">
  <img src="{% static 'images/amitava.jpg' %}" alt="testimonial" class="center-block">
  <div class="testimonial-caption">
  <h2>Amitava Das</h2>
  <h4><span> Vice </span>President</h4>
  </div>                  
</div>
<!-- item 02 -->
<div class="item text-center">
<img src="{% static 'images/shashank.jpeg' %}" alt="testimonial" class="center-block">
<div class="testimonial-caption">
<h2>Shashank Nayak</h2>
<h4><span> General </span>Secretary</h4>
</div>
</div>
<!-- item 03 -->
<div class="item text-center">
<img src="{% static 'images/anuska.jpg' %}" alt="testimonial" class="center-block">
<div class="testimonial-caption">
<h2>Anushka Mondal</h2>
<h4><span> Conv</span>ener</h4>
</div>                  
</div>
<!-- item 04 -->
<div class="item text-center">
<img src="{% static 'images/partha.jpg' %}" alt="testimonial" class="center-block">
<div class="testimonial-caption">
<h2>Partha Sarathi Ghosh</h2>
<h4><span> Treas</span>urer</h4>
</div>
</div>


</div>                                
</div>
</div>     
</div> 
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-primary" style="margin-left: 50%;transform: translateX(-50%);border: 1px solid #129CF3;text-decoration: none;margin-top: 10px;font-weight: bold;"><a href="{%url 'member_list'%}"> MEET THEM ALL</a></button>
    </div>
</div>
</div>            
</div>
</section>
<!---activity-->
<!----FESTS-->


<section id="fests" style="margin-top: 40px;">
  <h1 class="about" style="text-align: center;margin-bottom:30px;">
   <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">OUR</span><span class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s" style="color: #129CF3;"> FESTS<span>
</h1>
  <div class="container">
   
    <div class="row">
        
        <div class="col-md-6 profile-pic text-center wow bounceInUp" style="margin-bottom: 30px;">
            

                <img src="/static/images/aarohan.jpg" id="img1">
                <h4 style="font-weight: 800;">AAROHAN</h4>
            
        </div>
        <div class="col-md-6 profile-pic text-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
          

          <img src="/static/images/aavishkar.jpg" id="imgframe">
          <h4 style="font-weight: 800;">AAVISHKAR</h4>
      </div>
        
</div></div>
</section>

<!-- Features -->
<section class="features" id="FEATURES">
<div class="container">
<div class="row">                                
<div class="col-md-10 col-md-offset-1">                    
<div class="section-title wow fadeIn" data-wow-duration="1s">                        
  <h1 class="about" style="text-align: center;margin-bottom:30px;">
    <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">OUR</span><span class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s" style="color: #129CF3;"> EVENTS<span>
 </h1>                           

    <div class="row wow fadeInbottom" data-wow-duration="1s" data-wow-delay=".5s">
        {% for i in events%}
                    <div class="col-md-4">
                      
                    
                      <div class="card">
                        <img src="{{i.poster.url}}" alt="{{i.name}}" style="width:100%;height:250px;">
                    
                        <h3>{{i.name}}</h3>
    
                        <p>{{i.description | truncatechars:80 }}  </p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{i.id}}">
                            Details
                          </button>
                      </div>
                    </div>
                    
    
                       <div class="modal fade" id="{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title" id="exampleModalLongTitle" style="margin-bottom: -80px;text-align: center;">{{i.name}}</h1>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close " style="font-size: 100px;">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-md-12 poster">
                                  <img class="img-responsive" src="{{i.poster.url}}" alt="{{i.name}}" style="width: 100%;height: 100%;">
                                </div>
                                <div class="col-md-12">
                                  <div class="row" style="margin: 10px 0;"> 
                                    <div class="col-md-4">
                                      <i class="fas fa-map-marker-alt fa-lg"></i>
                                      <h4 style="display: inline;"><b>{{i.venue}}</b></h2>
                                    </div>
                                    <div class="col-md-4">
                                      <i class="far fa-calendar-alt fa-lg"></i>
                                      <h4 style="display: inline;"><b>{{i.date}}</b></h2>
                                    </div>
                                    <div class="col-md-4">
                                      <i class="far fa-clock fa-lg"></i>
                                      <h4 style="display: inline;"><b>{{i.time}}</b></h2>
                                    </div>
                                  </div>
                                  <div class="row" style="margin-top: 5px;">
                                    <div class="col-md-12" style="font-size: 20px;">
                                      {{i.description}}
                                      
                                    </div>
                                  </div>
                            
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                  
        {% endfor %}
        
    </div> 

</div>                   
</div>
</div>
</div>
<button type="button" class="btn btn-outline-primary" style="border: 1px solid #129CF3;text-decoration: none;margin-left: 50%;transform: translateX(-50%);margin-bottom: 20px;"><a href="{% url 'events'%}"> SEE MORE</a></button>
</section>

<!-- Counters -->
<section class="counter">
<div class="counter-overlay">
<div class="container wow bounceInLeft" data-wow-duration="1s">
<div class="row text-center">
<div class=" col-sm-6 col-md-3">
<div class="counter-item">
<div><i class="fas fa-music"></i></i></div>
<h2><span class="counter-num"> 20 </span><span>+</span></h2>
<p>FESTS</p>
</div>
</div>
<div class="col-sm-6 col-md-3 ">
<div class="counter-item">
<div><i class="fa fa-gift"></i></div>
<h2><span class="counter-num"> 50 </span><span>+</span></h2>
<p>EVENTS</p>
</div>
</div>
<div class=" col-sm-6 col-md-3">
<div class="counter-item">
<div><i class="fas fa-users"></i></div>
<h2><span class="counter-num">  60</span><span>+</span></h2>
<p>MEMBERS</p>
</div>                  
</div>
<div class=" col-sm-6 col-md-3 ">
<div class="counter-item"> 
<div><i class="fa fa-heart-o"></i></div>
<h2><span class="counter-num"> 4000 </span><span>+</span></h2>
<p>LIKES</p>
</div>
</div>                  
</div>
</div>        
</div>
</section>
        
<!-- Screens -->
<section class="screens" id="SCREENS">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="section-title">
  <h1 class="about" style="text-align: center;margin-bottom:30px;">
    <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">SAE</span><span class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s" style="color: #129CF3;"> BAJA<span>
 </h1>
<p style="font-size: 25px;margin-bottom: 10px;"><b>Team NDORS</b> The official racing team of NIT Durgapur
         Also known as<b> NIT DURGAPUR  OFF ROAD SPORTS.</b> It is a team comprising of 25 passionate and delegate member which works altogether to design, analyse and fabricate an all terrain vehicle to take part in all india
            <b>BAJA SAE SERIES.</b></p>
<button type="button" class="btn btn-outline-primary" style="border: 1px solid #129CF3;text-decoration: none;"><a href="{% url 'baja'%}"> LEARN MORE</a></button>
<div class="screen-slider wow fadeInUp data-wow-duration=1s">
<!--PUT EVERYTHING HERE FOR AN ANIMATION-->
<img src="{% static 'images/car.png'%}" id="carbaja" alt="">
</div>
</div>
</div>
</div>
</div>
</section>

 <!-- Download Now -->
 <section class="download-now" id="DOWNLOAD" style="transform: translateY(-70px);">
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="section-title">
  <h1 class="about" style="text-align: center;margin-bottom:30px;">
    <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">OUR</span><span class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s" style="color: #129CF3;"> BLOG<span>
 </h1>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row" style="margin-bottom: 10%;">
<div class="col-md-6 wow fadeInUp" data-wow-duration="1s">
<!--Put here something for a fadeinup animation-->
<div class="image-blog">
<img src="{% static 'images/blogging.png' %}" alt="">
</div>
 </div>
<div class="col-md-4 wow fadeInLeft blog-text" data-wow-duration="1s" style="padding-top: 50px">
<!--Put here something for a fadeinup animation-->
<p style="font-size: 25px;">Well not only our members but we believe in giving exposure to anyone who is willing for it. Hence <b>SAE NIT Durgapur chapter </b>brings to you 
  it's official blog where anyone can show off their technical expertise by contributing articles in the field of automobiles or in any recent technical developements..</p>
<button type="button" class="btn btn-outline-primary" style="margin-left: 50%;transform: translateX(-50%);border: 1px solid #129CF3;text-decoration: none;"><a href="{% url 'home'%}"> LEARN MORE</a></button>    
</div>
</div>
</div>
</section>



{% endblock body %}