{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
  #member{
    padding-top:100px;
    overflow: hidden;
  }
  #ma,#tech,#webd,#gra,#ndors{
    display: none;
  }
  .show,.show1,.show2,.show3,.show4,.show5{
    margin: 4vw;
  }

  .fab:hover,.fas:hover{
    color: #129CF3;;
  }
</style>
<script>
  function myFunction() {
    document.getElementById("of").style.display = "block";
    document.getElementById("ma").style.display = "none";
    document.getElementById("tech").style.display = "none";
    document.getElementById("webd").style.display = "none";
    document.getElementById("gra").style.display = "none";
    document.getElementById("ndors").style.display = "none";
  }
  function myFunction1() {
    document.getElementById("of").style.display = "none";
    document.getElementById("ma").style.display = "block";
    document.getElementById("tech").style.display = "none";
    document.getElementById("webd").style.display = "none";
    document.getElementById("gra").style.display = "none";
    document.getElementById("ndors").style.display = "none";
  }
  function myFunction2() {
    document.getElementById("of").style.display = "none";
    document.getElementById("ma").style.display = "none";
    document.getElementById("tech").style.display = "block";
    document.getElementById("webd").style.display = "none";
    document.getElementById("gra").style.display = "none";
    document.getElementById("ndors").style.display = "none";
  }
  function myFunction3() {
    document.getElementById("of").style.display = "none";
    document.getElementById("ma").style.display = "none";
    document.getElementById("tech").style.display = "none";
    document.getElementById("webd").style.display = "block";
    document.getElementById("gra").style.display = "none";
    document.getElementById("ndors").style.display = "none";
  }
  function myFunction4() {
    document.getElementById("of").style.display = "none";
    document.getElementById("ma").style.display = "none";
    document.getElementById("tech").style.display = "none";
    document.getElementById("webd").style.display = "none";
    document.getElementById("gra").style.display = "block";
    document.getElementById("ndors").style.display = "none";
  }
  function myFunction5() {
    document.getElementById("of").style.display = "none";
    document.getElementById("ma").style.display = "none";
    document.getElementById("tech").style.display = "none";
    document.getElementById("webd").style.display = "none";
    document.getElementById("gra").style.display = "none";
    document.getElementById("ndors").style.display = "block";
  }
  </script>
  <section id="member">
  <h2 style="text-align: center;">MEMBER</h2>
<div class="container">
  <div class="row">
    <div class="row" style="padding:1vw;"></div>
      <div class="col-xs-4 col-md-2" style="padding:1vw;">
          <a class="btn btn-primary btn-md col" class="show" onclick="myFunction()"><i class="fa fa-users"><h6>Office Bearers</h6></i></a>
      </div>
      <div class="col-xs-4 col-md-2" style="padding:1vw;">
          <a class="btn btn-primary btn-md col" class="show1" onclick="myFunction1()"><i class="fa fa-tasks "><br><h6>Management</h6></i></a>

      </div>
      <div class="col-xs-4 col-md-2" style="padding:1vw;">
          <a class="btn btn-primary btn-md col" class="show2" onclick="myFunction2()"><i class="fa fa-cogs "><h6>Technical    </h6></i></a>
      </div>
      <div class="col-xs-4 col-md-2" style="padding:1vw;">
          <a class="btn btn-primary btn-md col" class="show3" onclick="myFunction3()"><i class="fa fa-chrome"><h6>WebD</h6></i></a>
      </div>
      <div class="col-xs-4 col-md-2" style="padding:1vw;">
          <a class="btn btn-primary btn-md col" class="show4" onclick="myFunction4()"><i class="fa fa-pen-nib"><h6>Graphics</h6></i></a>
      </div>
      <div class="col-xs-4 col-md-2" style="padding:1vw;">
          <a class="btn btn-primary btn-md col" class="show5" onclick="myFunction5()"><i class="fa fa-car"><h6>Team NDORS</h6></i></a>
      </div>

  </div>
    
  </div>
<section id="of">
  <h3 style="text-align: center;margin-bottom: 50px;">Office Bearers</h3>
  <div class="container">
   <div class="row">
      <div class="col-md-12">
        {%for i in office_bearers%}
          <div class="col-md-4">
            <div class="container" style="margin-bottom: 20px;">
              <div class="card" style="width: 18rem;">
                <img src="{{i.photo.url}}" class="card-img-top" alt="{{i.first_name|add:' '|add:i.last_name}}" style="height: 200px;width: 200px;border-radius: 5px;">
                <div class="card-body" >
                  <h3 class="card-title" style="text-align: center;">{{i.first_name|add:" "|add:i.last_name}}</h3>
                  {% if i.isPostHolder %}
                    <h4 style="text-align: center;">{{i.post}}</h4>
                  {% endif %}

                </div>
                <div class="card-footer text-muted">
                  
                    <div class="row">
                      <div class="col-md-4" style="text-align: center;">
                        <i class="fab fa-facebook-f fa-x"><a href="{{i.fb}}"></a></i>
                      </div>
                      <div class="col-md-4" style="text-align: center;">
                        <i class="fas fa-phone fa-x" onclick="alert('Phone Number: '+ {{i.phone}})"></i>
                      </div>
                      <div class="col-md-4" style="text-align: center;">
                        <a href="{{'mailto: '|add:i.email}}"><i class="fas fa-at fa-x"></i></a>
                      </div>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
   </div>
  </div>
</section>
<section id="ma">
  <h3 style="text-align: center;">Management</h3>
  <div class="container">
   <div class="row">
    <h3 style="text-align: center;margin-bottom: 50px;">FINAL YEAR</h3>
    <div class="container">
     <div class="row">
        <div class="col-md-12">
          {%for i in management_final%}
            <div class="col-md-4">
              <div class="container" style="margin-bottom: 20px;">
                <div class="card" style="width: 18rem;">
                  <img src="{{i.photo.url}}" class="card-img-top" alt="{{i.first_name|add:' '|add:i.last_name}}" style="height: 200px;width: 200px;border-radius: 5px;">
                  <div class="card-body" >
                    <h3 class="card-title" style="text-align: center;">{{i.first_name|add:" "|add:i.last_name}}</h3>
                    {% if i.isPostHolder %}
                      <h4 style="text-align: center;">{{i.post}}</h4>
                    {% endif %}
  
                  </div>
                  <div class="card-footer text-muted">
                    
                      <div class="row">
                        <div class="col-md-4" style="text-align: center;">
                          <i class="fab fa-facebook-f fa-x"><a href="{{i.fb}}"></a></i>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                          <i class="fas fa-phone fa-x" onclick="alert('Phone Number: '+ {{i.phone}})"></i>
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                          <a href="{{'mailto: '|add:i.email}}"><i class="fas fa-at fa-x"></i></a>
                        </div>
                      </div>
                    
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
     </div>
    </div>
   </div>
   <h3 style="text-align: center;margin-bottom: 50px;">THIRD YEARS</h3>
  <div class="container">
   <div class="row">
      <div class="col-md-12">
        {%for i in management_third%}
          <div class="col-md-4">
            <div class="container" style="margin-bottom: 20px;">
              <div class="card" style="width: 18rem;">
                <img src="{{i.photo.url}}" class="card-img-top" alt="{{i.first_name|add:' '|add:i.last_name}}" style="height: 200px;width: 200px;border-radius: 5px;">
                <div class="card-body" >
                  <h3 class="card-title" style="text-align: center;">{{i.first_name|add:" "|add:i.last_name}}</h3>
                  {% if i.isPostHolder %}
                    <h4 style="text-align: center;">{{i.post}}</h4>
                  {% endif %}

                </div>
                <div class="card-footer text-muted">
                  
                    <div class="row">
                      <div class="col-md-4" style="text-align: center;">
                        <i class="fab fa-facebook-f fa-x"><a href="{{i.fb}}"></a></i>
                      </div>
                      <div class="col-md-4" style="text-align: center;">
                        <i class="fas fa-phone fa-x" onclick="alert('Phone Number: '+ {{i.phone}})"></i>
                      </div>
                      <div class="col-md-4" style="text-align: center;">
                        <a href="{{'mailto: '|add:i.email}}"><i class="fas fa-at fa-x"></i></a>
                      </div>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
   </div>
  </div>
  <h3 style="text-align: center;margin-bottom: 50px;">SECOND YEARS</h3>
  <div class="container">
   <div class="row">
      <div class="col-md-12">
        {%for i in management_second%}
          <div class="col-md-4">
            <div class="container" style="margin-bottom: 20px;">
              <div class="card" style="width: 18rem;">
                <img src="{{i.photo.url}}" class="card-img-top" alt="{{i.first_name|add:' '|add:i.last_name}}" style="height: 200px;width: 200px;border-radius: 5px;">
                <div class="card-body" >
                  <h3 class="card-title" style="text-align: center;">{{i.first_name|add:" "|add:i.last_name}}</h3>
                  {% if i.isPostHolder %}
                    <h4 style="text-align: center;">{{i.post}}</h4>
                  {% endif %}

                </div>
                <div class="card-footer text-muted">
                  
                    <div class="row">
                      <div class="col-md-4" style="text-align: center;">
                        <i class="fab fa-facebook-f fa-x"><a href="{{i.fb}}"></a></i>
                      </div>
                      <div class="col-md-4" style="text-align: center;">
                        <i class="fas fa-phone fa-x" onclick="alert('Phone Number: '+ {{i.phone}})"></i>
                      </div>
                      <div class="col-md-4" style="text-align: center;">
                        <a href="{{'mailto: '|add:i.email}}"><i class="fas fa-at fa-x"></i></a>
                      </div>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
   </div>
  </div>
  </div>
</section>
<section id="tech">
  <h3 style="text-align: center;">Technical</h3>
  <div class="container">
   <div class="row">
      
   </div>
  </div>
</section>
<section id="webd">
  <h3 style="text-align: center;">Web Development</h3>
  <div class="container">
   <div class="row">
      
   </div>
  </div>
</section>
<section id="gra">
  <h3 style="text-align: center;">Graphics</h3>
  <div class="container">
   <div class="row">
      
   </div>
  </div>
</section>
<section id="ndors">
  <h3 style="text-align: center;">Team NDORS</h3>
  <div class="container">
   <div class="row">
      
   </div>
  </div>
</section>

</section>
{% endblock body %}